<template>
    <div class="App u-flex">
        <span @click="toggle" class="Toggler">Click me!</span>
    </div>
</template>

<script>
    import _ from 'lodash'
    import 'suitcss-utils-flex'

    export default {
        name: 'App',
        data: () => ({
            themeElement: null
        }),
        created: function() {
            this.themeElement = document.querySelector('link[data-theme]')
            console.log('i is created, yeah!')

            window.fetch('./assets.json')
                .then(response => {
                    if (!response.ok) {
                        throw Error(response.statusText)
                    }
                    return response.json()
                })
                .then(result => {
                    console.log('i can haz loaded, yeah!', result)
                })
                .catch(error => console.error('assets.json not found'))
        },
        mounted: function() {
            /* testing babel - classList not supported by ie9 */
            let newEl = document.createElement('div')
            newEl.classList.add('foo')
            console.log('newEl', newEl)
            document.body.appendChild(newEl)

            _.times(3, console.log(_.capitalize('hello from lodash')))
        },
        methods: {
            toggle: function() {
                this.themeElement
                    ? (this.themeElement.href = this.themeElement.href.indexOf('theme1.css') === -1
                        ? 'theme1.css'
                        : 'theme2.css')
                    : null
            }
        }
    }
</script>

<style>
    html,
    body,
    .App {
        height: 100%;
    }

    body {
        margin: 0;
    }

    .App {
        /* display: flex; */
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        color: var(--App-color);
        font-weight: bold;
    }

    .Toggler {
        cursor: pointer;
        user-select: none;
        font-size: xx-large;
    }
</style>
